@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
*{
	margin:0;
}
body{
	background:#a2d5c6; 

}
#heading{
	background: #077b8a;
	text-align: center;
	height: 12vh;
	padding-top: 3%;
	font-family: 'Courier Prime', monospace;
	font-size: 2em; 
}
#total{
	width: 200px;
	height: 100px;
	background: #077b8a;
	margin: 30px auto;
	border: 3px solid #5c3c92;
	box-sizing: border-box;	
}
#score{
font-family: 'Courier Prime', monospace;
font-size: 2em;
margin-left:30px;
text-align: center;
margin-top: 15px;
position: absolute;	

}
#type1,#type2{
	background: #5c3c92;
	width: 60px;
	font-family: 'Courier Prime', monospace;
	font-size: 0.77em;
	position: relative;

}

#type1{
 top:40px;
 left:-30px;
}
#type2{
top:25px;
left:165px;
}	
.select{
	margin: 0px auto;
	text-align: center;
}
#rock,#paper,#scissor{
	margin: 0px;
	border: 2px solid #077b8a;
	background: black;
	padding: 15px;
	border-radius: 50%;
}
a:hover{
	background: #d72631;
	cursor: pointer;
}


/*
#score{
	background: blue;
	width: 200px;
	height:100px;
	text-align: center;
	margin: 30px auto;
	border:5px solid green;
	padding-top: 27px;
	font-family: 'Courier Prime', monospace;
	font-size: 2em; 
	box-sizing: border-box;
}*/